$font-stack: "Source Sans Pro", "Segoe UI", Roboto, Ubuntu, system-ui, -apple-system, Cantarell, "Noto Sans", sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$primary-color: #333;

body {
	font: 100% $font-stack;
	color: $primary-color;
	background-color: beige;

	#app {
		padding: 15px;
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);

		.headline {
			text-align: center;
		}

		.cta_labels {
			display: flex;
			justify-content: space-between;

			select {
				padding: 0.25rem;
				font-size: 1.25rem;
				margin: 0 auto;
				display: block;
			}
		}
	}
}
